{%  block content %}

<h1>Something info</h1>



<div style="text-align: left; background-color: rgb(229, 255, 0);">
{%  for criteria in criterias %}

<ul>
    <li>name: {{  criteria.name }}</li>
    <li>age: {{  criteria.age }}</li>
    <li>email: {{  criteria.email }}</li>
    <li>description: {{  criteria.description }}</li>
    <li>height: {{  criteria.height }}</li>
    
        <img class="some_pic" src="
        {{ request.Something.some_image.url }}">
</ul>

{% endfor %}

</div>
{%  endblock %}